@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: hsl(204, 43%, 93%);
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 56%;
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgba(70, 70, 70, 0.25);
}
.top{
    height: 47%;
    width: 100%;
    padding: 32px 39px;
}
.top h2{
    color: hsl(179, 47%, 52%);
}
.top h3{
    color: hsl(71, 73%, 54%);
    margin-top: 28px;
    font-size:17px;
    margin-bottom: 15px;
}
.top{
    color: #B9BEC2;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
}
.bottom{
    height: 53%;
    width: 100%;
    display: flex;
}
.bottoml{
    width: 50%;
    height: 100%;
    background-color: hsl(179, 62%, 43%);
    padding: 30px 42px;
    color: #D9FEFE;
    font-size:17px;
}
.bottoml p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #aae6e7;

}
.bottoml button{
    width: 100%;
    height: 25%;
    margin-top: 23px;
    border-radius: 5px;
    border: none;
    background-color: #BFDF31;
    color: white;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0px 10px 10px rgba(70, 70, 70, 0.25);
}
.price{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.price h1{
    font-size: 30px;

}
.price p{
    color: #6FD6D7;
    font-size: medium;
}
.bottomr{
    width: 50%;
    height: 100%;
    background-color: hsl(179, 47%, 52%);
    padding: 30px 42px;
    color: #EBFDFF;
}
.bottomr h4{
    margin-bottom: 20px;
}
.bottomr p{
    font-size: small;
    margin-bottom: 3px;
}
.footer{
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}

@media (max-width: 768px) {
    .container{
        width: 90%;
        height: 90%;
    }
    .bottom{
        width: 100%;
        flex-direction: column;
        height: 60%;
    }
    .bottoml{
        width: 100%;
        height: 50%;
        padding: 20px 30px;
    }
    .bottomr{
        width: 100%;
        height: 50%;
        padding: 20px 30px;
    }
    .footer{
        margin-top: 0px;
        font-size: small;
    }
}